<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 offset-xxl-1">
                <h5>Get started</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <div class="col-sm-3 offset-xxl-1">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-3 offset-xxl-1">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="w-100"></div>
        </div>
    </div><div class="footer-copyright">
<p>© 2022 UNAR AI</p>
</div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>
