<%- include("partials/header") -%>

    <main class="page"><section class="clean-block about-us">
    <div class="container">
        <div class="block-heading">
            <h1 class="text-info">About Us</h1>
            <h2 style="color:black" class="text-info">Our Team</h2>
        </div>
        <div class="row justify-content-center">

            <div class="col-sm-6 col-lg-3">
                 <a style="text-decoration:none;color:black;" href="https://www.linkedin.com/in/dr-ing-balamurugan-varadarajan-ms-phd-52a41b6/" target="_blank">
                <div class="card text-center clean-card">
                        <img class="card-img-top w-100 d-block" src="assets/img/avatars/balasir.png" />

                    <div class="card-body info">
                        <h4 class="card-title"><br /><strong>Dr. Balamurugan V T</strong><br /><br /></h4>
                        <p class="card-text"><br />Founder and CEO<br /><br /></p>
                        <div class="icons"><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                </div>
                    </a>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-center clean-card">
                    <a style="text-decoration:none;color:black;" href="https://www.linkedin.com/in/arun-ramaswamy-14830733/" target="blank">
                    <img class="card-img-top w-100 d-block" src="assets/img/avatars/arunsir.png" />
                    <div class="card-body info">
                        <h4 class="card-title"><br /><strong>Mr. Arunchendhuran R</strong><br /><br /></h4>
                        <p class="card-text"><br />Co-Founder<br /><br /></p>
                        <div class="icons"><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                    </a>
                </div>
            </div>
                        <div class="col-sm-6 col-lg-3">
                <div class="card text-center clean-card">
                    <a style="text-decoration:none;color:black" href="https://www.linkedin.com/in/dr-p-pachamuthu-2620521ba/" target="_blank">
                    <img class="card-img-top w-100 d-block" src="assets/img/avatars/pachamuthusir.png" />
                    <div class="card-body info">
                        <h4 class="card-title"><br /><strong>Dr Pachamuthu P</strong><br /><br /></h4>
                        <p class="card-text"><br />Chief Marketing Officer<br /><br /></p>
                        <div class="icons"><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-center clean-card">
                    <a style="text-decoration:none;color:black;" href="https://www.linkedin.com/in/haritha-jeganathan-a33a7a4a/" target="_blank">
                    <img class="card-img-top w-100 d-block" src="assets/img/avatars/harithaamam.png" />
                    <div class="card-body info">
                        <h4 class="card-title"><br /><strong>Ms. Haritha J </strong><br /><br /></h4>
                        <p class="card-text"><br />Chief Technical Officer<br /><br /></p>
                        <div class="icons"><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="block-heading">
            <h2 class="text-info">Developers</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-3">
               <a style="text-decoration:none;color:black;" href="https://www.linkedin.com/in/mahesan-p-43929a1a2/" target="_blank">
              <div class="card text-center clean-card">
                      <img class="card-img-top w-100 d-block" src="assets/img/avatars/mahesan_dp.jpg" />

                  <div class="card-body info">
                      <h4 class="card-title"><br /><strong>Mahesan P</strong><br /><br /></h4>
                      <p class="card-text"><br />Back-End Developer<br /><br /></p>
                      <div class="icons"><a target=__blank href="https://www.instagram.com/mahesan_02/"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                  </div>
              </div>
                  </a>
          </div>
          <div class="col-sm-6 col-lg-3">
               <a style="text-decoration:none;color:black;" href="https://www.linkedin.com/in/visali-v-8b4968200/" target="_blank">
              <div class="card text-center clean-card">
                      <img class="card-img-top w-100 d-block" src="assets/img/avatars/visali_dp.jpg" />

                  <div class="card-body info">
                      <h4 class="card-title"><br /><strong>Visali V</strong><br /><br /></h4>
                      <p class="card-text"><br />Front-End Developer<br /><br /></p>
                      <div class="icons"><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                  </div>
              </div>
                  </a>
          </div>
        </div>
    </div>
</section></main>
<%- include("partials/footer") -%>
