<%- include("partials/header") -%>

    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading"><h2 class="text-info">Case Studied</h2></div>
                <div class="block-content">
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="assets/img/tech/correct.png"></div>
                            <div class="col-lg-7"><h3>NLU BASED NATURAL LANGUAGE ENHANCER AND ASSISTANCE
</h3><p>A manual intervention is necessary for language enhancement and correction.
To make them learn and understand in a correct and proper way by enhancing and assisting with AI empowered NLU(Natural Language Understanding) and NLP based mobile application.
.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("partials/footer") -%>
