<%- include("partials/header") -%>

    <main class="page service-page">
        <section class="clean-block clean-services dark">
            <div class="container">
                <div class="block-heading"><h2 class="text-info">Our Services</h2>
                    <p>Our Platform covers diverse use cases and provides solution for different verticals.<br></p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/project.jpg" />
                            <div class="card-body"><h4 class="card-title">Sentimental Analysis-Key to empathetic customer Service</h4><p class="card-text">Are you looking to incorporate sentiment analysis into your call center analytics? Every business wishes they had 100% customer satisfaction. But in industries like wireless telecommunications, that's not the reality.</p></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/tech/AI1.jpg" />
                            <div class="card-body">
                                <h4 class="card-title">Conversational AI</h4>
                                <p class="card-text">Are you looking for a virtual friend who can help you in your day-to-day tasks? Our conversational AI would be your friend and helps your daily tasks.</p>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/marketing.jpg">
                            <div class="card-body"><h4 class="card-title">Marketing Analytics (AI for digital marketing)</h4>
                                <p class="card-text">Strategy of leveraging data and machine learning to deliver campaigns that help achieve a brand's goals more effectively. Most marketers utilize AI in market research, data science, and real-time campaign analysis.</p>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 offset-xxl-2">
                        <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image1.jpg">
                            <div class="card-body"><h4 class="card-title">Chemo Informatics (Spectroscopy)</h4><p class="card-text">A relatively new field of information technology that focuses on the collection, storage, analysis, and manipulation of chemical data.</p></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/IOT.jpeg" />
                            <div class="card-body"><h4 class="card-title">IOT Sensors</h4><p class="card-text">The IoT and its counterpart, the Industrial Internet of Things (IIoT), are bringing sensor usage to a new level.</p></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include("partials/footer") -%>
